@model TechJunk.Models.ViewModels.Feedback.FeedbackVm
@{
    ViewBag.Title = "Contact";
}

<div class="feedback-wrapper">
    <h1>Feedback</h1>
    <p>Here you can give us feedback, give us suggestions or make complaints.</p>
</div>

@using (Html.BeginForm("Feedback", "Home", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group add-label-fix">
        @Html.LabelFor(m => m.Topic)
        @Html.EditorFor(m => m.Topic, new { htmlAttributes = new { @class = "form-control input-center", autofocus = "autofocus" } })
        @Html.ValidationMessageFor(m => m.Topic)
    </div>

        <div class="form-group add-label-fix">
            @Html.LabelFor(m => m.Content)
            @Html.TextAreaFor(m => m.Content, 15, 45, new { @class = "form-control input-center"})
            @Html.ValidationMessageFor(m => m.Content)
        </div>

        <div class="form-group add-label-fix">
            <input type="submit" value="Send" class="btn btn-primary btn-lg" />
        </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}