@using PagedList.Mvc
@using TechJunk.Web.Helpers
@model PagedList.IPagedList<TechJunk.Models.ViewModels.Interest.InterestVm>

<div class="sales-container profile-sales-fix">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th></th>
                <th>@Html.Name("Title")</th>
                <th>@Html.Name("Category")</th>
                <th>@Html.Name("Date posted")</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var sale in Model)
            {
                <tr>
                    <td>
                        <div class="sale-img">
                            @Html.Image(sale.Url, "Interest Image")
                        </div>
                    </td>       
                    <td>@Html.DisplayFor(vm => sale.Title)</td>
                    <td>@Html.DisplayFor(vm => sale.Category)</td>
                    <td>@Html.DisplayFor(vm => sale.PostDate)</td>
                    <td>
                        @Html.ActionLink("User Details", "Details", "Users", new {id = Model.First().UserId}, new {@class = "btn btn-lg btn-info"})
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


@Html.PagedListPager(Model, pageNumber => Url.Action("All", new
{
    pageNumber,
    option = Request.QueryString["Category"],
    search = Request.QueryString["search"]
}))
