@model TechJunk.Models.ViewModels.Admin.DeleteFeedbackVm
@{
    ViewBag.Title = "Delete Feedback";
}

<div>
    <p class="confirm-deletion">Are you sure that you want to delete this Interest?</p>
</div>

<div class="sales-container profile-sales-fix">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>@Html.NameFor(m => m.Topic)</th>
                <th>@Html.NameFor(m => m.Content)</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>@Html.DisplayFor(vm => vm.Topic)</td>
                <td>@Html.DisplayFor(vm => vm.Content)</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="buttons-container">
    @using (Html.BeginForm("DeletePost", "Feedback", new { feedbackId = Model.Id, area = "Admin" }, FormMethod.Post, new { @class = "delete-margin-fix" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(vm => vm.Id)
        <input type="submit" value="Delete" class="btn btn-lg btn-danger" />
    }
</div>

